html,
body {
	font-family: "Poppins";
	height: 100%;
}

h1,
h2,
h3,
h4 {
	margin: 0;
}

p {
	margin: 0;
}

.alert {
	margin-top: 56px;
}

.form-container {
	width: 500px;
	margin: 10rem 1.5rem 1.5rem 1.5rem;
}

.form-control {
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}

.element-container {
	margin: 1rem;
	padding: 1rem;
}

.timetable-wrapper {
	max-height: 30vh;
	scrollbar-width: none;
}

.fs-7 {
	font-size: 0.8rem;
}

.mt-6 {
	margin-top: 7rem;
}

.no-min-width {
	min-width: 0;
}

.session-dropdown-container {
	width: 200px;
}

.vr {
	--bs-text-opacity: 1;
	color: rgba(var(--bs-primary-rgb), var(--bs-text-opacity));
	opacity: .75;
}

.nav-link:hover {
	--bs-text-opacity: 1;
	color: rgba(var(--bs-primary-rgb), var(--bs-text-opacity));

}

#timer {
	font-family: "Share Tech Mono";
	/* font-family: "monospace"; */
	font-size: 4rem;
}
