html,
body {
	font-family: "Poppins";
	height: 100%;
}

h1,
h2,
h3,
h4 {
	margin: 0;
}

p {
	margin: 0;
}

.alert {
	margin-top: 56px;
}

.form-container {
	width: 500px;
	margin: 10rem 1.5rem 1.5rem 1.5rem;
}

.form-control {
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}

.element-container {
	margin: 2rem;
	padding: 2rem;
}

.timetable-wrapper {
	max-height: 30vh;
	scrollbar-width: none;
}

.fs-7 {
	font-size: 0.8rem;
}

.mt-6 {
	margin-top: 6rem;
}

.no-min-width {
	min-width: 0;
}

.mw-500px {
	min-width: 500px;
}

.mh-250px {
	max-height: 250px;
}

.time-entry {
	max-width: 74px;
	margin: 0.1rem;
	text-align: center;
	font-size: 0.7rem;
	padding: 0.5rem 0.9rem;
	border-radius: var(--bs-border-radius-sm);
	border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
	transition: background-color 0.15s ease-in-out;
}

.time-entry:hover {
	background-color: rgba(var(--bs-primary-rgb), 0.4);
}

.session-dropdown-container {
	width: 200px;
}

.vr {
	--bs-text-opacity: 1;
	color: rgba(var(--bs-primary-rgb), var(--bs-text-opacity));
	opacity: .75;
	flex-shrink: 0;
}

hr {
	--bs-text-opacity: 1;
	color: rgba(var(--bs-primary-rgb), var(--bs-text-opacity));
	opacity: .75;
	margin: 0 1rem;
}

.nav-link:hover {
	--bs-text-opacity: 1;
	color: rgba(var(--bs-primary-rgb), var(--bs-text-opacity));

}

.hover-blue:hover {
	--bs-text-opacity: 1;
	color: rgba(var(--bs-primary-rgb), var(--bs-text-opacity));
}

#timer {
	font-family: "Share Tech Mono";
	/* font-family: "monospace"; */
	font-size: 5.5rem;
}
