{% extends 'base.html' %}

{% block content %}
	<div class="d-flex justify-content-center align-items-center vw-100 vh-100 fixed-top z-0">
	{% if user.is_authenticated %}
		<div class="d-flex justify-content-center vw-100 vh-100">
			<canvas id="myChart"></canvas>
		</div>
		<div class="position-fixed d-flex bottom-0 vw-100 justify-content-center">
			<div class="element-container border-bottom border-primary-subtle">
				<div class="dropup">
					<p class="d-inline"> &nbsp;Session:</p>
					<strong id="session-text" type="button" class="dropdown-toggle text-primary" data-bs-toggle="dropdown">3x3</strong>


					<ul class="session-dropdown-container dropdown-menu no-min-width p-1">
						<li>
						<div class="input-group">
							<input id="add-session-input" type="text" class="form-control m-0" placeholder="New Session">
							<button id="add-session-btn" class="btn btn-outline-primary" type="button">+</button>
						</div>
						</li>
						<li><hr class="dropdown-divider"></li>
						<div id="session-dropdown">
						</div>
					</ul>
				</div>
			</div>
		</div>

		<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
		<script type="module" src="static/stats.js"></script>
	{% else %}
		<h1>Please log in to view your statistics!</h1>
	{% endif %}
	</div>
{% endblock %}
