{% extends 'base.html' %}

{% block content %}
    <div type="button" class="position-fixed z-2 p-4" data-bs-toggle="modal" data-bs-target="#help-info-modal">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-question-circle-fill" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247m2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z"/>
        </svg>
    </div>
	<div class="text-center my-3">
		<div class="d-inline-block border-top border-primary-subtle py-3 px-4">
			<h3 id="scramble-text">Generating scramble...</h3>
		</div>
	</div>
  <div class="d-flex justify-content-center align-items-center vw-100 vh-100 fixed-top" id="timer-background" style="z-index: 0;">
		<h1 id="timer" class="position-fixed z-1 touch-starts-timer">0<span class="text-primary">.</span>000</h1>
		<div class="position-absolute z-0 w-100 h-100 bg-body fade touch-starts-timer" id="fading-bg"></div>
	</div>

	<div class="element-container position-fixed bottom-0 start-0 border-start border-bottom border-primary-subtle">
		<p>Best: <strong id="best-text">--</strong></p>
		<p>Ao5: <strong id="ao5-text">--</strong></p>
		<p>Ao12: <strong id="ao12-text">--</strong></p>
	</div>

	<div class="position-fixed d-flex bottom-0 vw-100 justify-content-center">
		<div class="element-container border-bottom border-primary-subtle">
			<div class="dropup">
				<p class="d-inline"> &nbsp;Session:</p>
				<strong id="session-text" type="button" class="dropdown-toggle text-primary" data-bs-toggle="dropdown">3x3</strong>

				<ul class="session-dropdown-container dropdown-menu no-min-width p-1">
					<li>
					<div class="input-group">
						<input id="add-session-input" type="text" class="form-control m-0" placeholder="New Session">
						<button id="add-session-btn" class="btn btn-outline-primary" type="button">+</button>
					</div>
					</li>
					<li><hr class="dropdown-divider"></li>
					<div id="session-dropdown">
					</div>
				</ul>
			</div>
		</div>
	</div>

	<div class="element-container position-fixed bottom-0 end-0 w-auto border-end border-bottom border-primary-subtle">
		<div class="overflow-auto timetable-wrapper">
			<table class="table table-sm table-hover m-0">
				<thead class="sticky-top">
					<tr>
						<th scope="col">#</th>
						<th scope="col">Time</th>
					</tr>
				</thead>
				<tbody id="time-table-body">
					<tr>
					</tr>
				</tbody>
			</table>
		</div>
	</div>


	<!-- Modal -->
	<div class="modal fade" id="time-info-modal" tabindex="-1">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5">Modal title</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body d-flex align-items-center">
					<div class="flex-grow-1">
						<h1 class="time-heading">1.00</h1>
						<p class="modifiers-text text-warning"></p>
					</div>
					<button type="button" class="btn btn-primary me-2 plus-2">+2</button>
					<button type="button" class="btn btn-primary dnf">DNF</button>
				</div>
				<div class="modal-footer d-flex">
					<div class="flex-grow-1">
						<p class="date-text fs-7"></p>
						<p class="time-text fs-7"></p>
					</div>
					<button type="button" class="btn btn-outline-danger" id="delete-time-btn" data-bs-dismiss="modal">Delete</button>
				</div>
			</div>
		</div>
	</div>
    
	<div class="modal fade" id="help-info-modal" tabindex="-1">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5">Help</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body d-flex align-items-center">
                     To use the timer, hold the space bar until the text turns green, then release it to start the timer. Press the space bar again to stop the timer, and it will automatically record your time.
                    <br><br>
                    You can view your session times in the table on right - you can scroll when it overflows!

                    <br><br>
                    You can also change the session type by clicking on the session name at the bottom left, and you can add new sessions by typing in the input box and clicking the plus button.

                    <br><br>
                    Empty sessions are automatically deleted upon refresh, so make sure to add a time.

                    <br><br>
                    Quickly delete the last time by pressing shift + backspace.

                    <br><br>
                    You can also view your statistics by clicking on the "Statistics" link in the navigation bar at the top of the page.

                    <br><br>
				</div>
			</div>
		</div>
	</div>

	<script type="module" src="static/js/timer.js"></script>
{% endblock %}
