{% extends 'base.html' %}

{% block content %}
	<div class="text-center my-3">
		<div class="d-inline-block border-top border-primary-subtle py-3 px-4">
			<h3 id="scramble-text"></h3>
		</div>
	</div>
  <div class="d-flex justify-content-center align-items-center vw-100 vh-100 fixed-top" id="timer-background" style="z-index: 0;">
		<h1 id="timer" class="position-fixed z-1">0<span class="text-primary">.</span>000</h1>
		<div class="position-absolute z-0 w-100 h-100 bg-body fade" id="fading-bg"></div>
	</div>

	<div class="element-container position-fixed bottom-0 start-0 border-start border-bottom border-primary-subtle">
		<p>Best: <strong id="best-text">--</strong></p>
		<p>Ao5: <strong id="ao5-text">--</strong></p>
		<p>Ao12: <strong id="ao12-text">--</strong></p>
	</div>

	<div class="position-fixed d-flex bottom-0 vw-100 justify-content-center">
		<div class="element-container border-bottom border-primary-subtle">
			<div class="dropup">
				<p class="d-inline"> &nbsp;Session:</p>
				<strong id="session-text" type="button" class="dropdown-toggle text-primary" data-bs-toggle="dropdown">3x3</strong>

				<ul class="session-dropdown-container dropdown-menu no-min-width p-1">
					<li>
					<div class="input-group">
						<input id="add-session-input" type="text" class="form-control m-0" placeholder="New Session">
						<button id="add-session-btn" class="btn btn-outline-primary" type="button">+</button>
					</div>
					</li>
					<li><hr class="dropdown-divider"></li>
					<div id="session-dropdown">
					</div>
				</ul>
			</div>
		</div>
	</div>

	<div class="element-container position-fixed bottom-0 end-0 w-auto border-end border-bottom border-primary-subtle">
		<div class="overflow-auto timetable-wrapper">
			<table class="table table-sm table-hover m-0">
				<thead class="sticky-top">
					<tr>
						<th scope="col">#</th>
						<th scope="col">Time</th>
					</tr>
				</thead>
				<tbody id="time-table-body">
					<tr>
					</tr>
				</tbody>
			</table>
		</div>
	</div>


	<!-- Modal -->
	<div class="modal fade" id="time-info-modal" tabindex="-1">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5">Modal title</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body d-flex align-items-center">
					<div class="flex-grow-1">
						<h1 class="time-heading">1.00</h1>
						<p class="modifiers-text text-warning"></p>
					</div>
					<button type="button" class="btn btn-primary me-2 plus-2">+2</button>
					<button type="button" class="btn btn-primary dnf">DNF</button>
				</div>
				<div class="modal-footer d-flex">
					<div class="flex-grow-1">
						<p class="date-text fs-7"></p>
						<p class="time-text fs-7"></p>
					</div>
					<button type="button" class="btn btn-outline-danger" id="delete-time-btn" data-bs-dismiss="modal">Delete</button>
				</div>
			</div>
		</div>
	</div>

	<script type="module" src="static/js/timer.js"></script>
{% endblock %}
